<div class="bg-white min-h-screen">
	<nav class="bg-white shadow-md">
		<div class="w-full h-16 px-8 flex items-center justify-between">
			<div class="flex items-center gap-6 mr-8">
				<h1 class="text-lg font-semibold">
					ThaiTails 2025 Dealers List with Extra Cheese
				</h1>
				<h4 class="text-sm text-neutral-400">
					by <a href="https://github.com/Natashi">Natashi</a>
				</h4>
			</div>
			
			<a href="https://dealer.thaitails.net/dealers" target="_blank">
				Official Dealer's Den listing
			</a>
		</div>
	</nav>
	
	<div class="px-8 py-6 w-full">
		<router-outlet />
	</div>
	
	<hr />
	
	<div class="text-center py-10">
		<p class="text-lg font-semibold text-red-600 mb-2">
			THIS IS AN UNOFFICIAL SITE MADE USING THE <a href="https://dealer.thaitails.net/api" target="_blank">OFFICIAL API</a>
		</p>
		<p class="text-md text-red-800">
			Natashi is not, in any way, affiliated with ThaiTails Convention
		</p>
	</div>
</div>